<nav class="fonnt-[Montserrat] bg-slate-500 h-24 w-full pu-3px" >
    <label for = 'check'>
        <i class="fas fa-bars float-right text-white text-3xl leading-[80px] mr-10"></i>
    </label>
    <label class="text-white text-3xl md-leading-[80px] leading-[80px] pl-12 md-text-4xl text-xl">Workhub</label>
    <ul class="navList float-right lg:flex lg:relative leading-[80px] mr-10 text-slate-300 uppercase rounded fixed 
    h-[13.3vh]" >
        <li><a class="pl-4 pr-6 hover:text-white hover:cursor-pointer" (click) = "openModal($event)" >Login/Register</a></li>
        <li><a class="pl-4 pr-6 hover:text-white hover:cursor-pointer">About</a></li>
        <li><a class="pl-4 pr-10 hover:text-white hover:cursor-pointer">Contact</a></li>
    </ul>
</nav>