<form [formGroup]="orderForm" (ngSubmit)="order()" class="form bg-gray-400">
    <div id="top">
        <p>Place an Order</p>
    </div>
    <div  class="container inline-block ">
        <label for="Days" >Select Date</label>
        <select formControlName="createdDate" name="days" id = "day" >
            <option [value]="date1" >{{ date1 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date2" >{{ date2 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date3" >{{ date3 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date4" >{{ date4 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date5" >{{ date5 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date6" >{{ date6 | date:'dd/MM/yyy EEEE' }}</option>
            <option [value]="date7" >{{ date7 | date:'dd/MM/yyy EEEE' }}</option>
            <!--<option value="" ></option>
            <option value="" ></option>-->
        </select>
    </div>
    <div class="container inline-block">
        <label id="breakfastLabel" for="Breakfast">Breakfast</label>
        <input id="breakfastVegoption" value="Veg" formControlName="breakFast" type="radio" name="Breakfast">
        <label id="breakfastVeglabel" for="Veg">Veg</label>
    </div>
    <div class="container inline-block">
        <label id="lunchLabel" class="pr-6" for="Lunch">Lunch</label>
        <input id="lunchVegoption" value="Veg" formControlName="lunch" type="radio" name="Lunch">
        <label id="lunchVeglabel" class="pl-4" for="Veg">Veg</label>
        <input id="lunchNonVegoption" value="Non-Veg" formControlName="lunch" type="radio" name="Lunch">
        <label id="lunchNonVeglabel" for="Non-Veg">Non-Veg</label>        
    </div>
    <div class="btn">
        <button type="submit">Submit</button>
    </div>
</form>